
@{
    ViewBag.Title = "Confirmar";
}

<h2>Confirmar</h2>
<span id="ConfirmarHomeLink"></span>
<h3>¿Seguro desea iniciar el examen de @Model.Tema.Nombre ? </h3>
<h3>Creado por @Model.Usuario.Nombres</h3>

<a class="btn btn-danger" id="IniciarExamenHomeLink" href="/Home/DarExamen?ExamenId=@Model.Id">Iniciar</a>
<a class="btn btn-link" id="CancelarExamenHomeLink" href="/Home">Cancelar</a>